.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --box-shadow-colour: 0 0.188rem 0.625rem rgb(0 0 0 / 0.2);
}

/* Global Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  margin-left: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.countrycard {
  display: flex;
  flex-direction: column;
  width: 15rem; /* 240px; */
  box-shadow: 0 0.188rem 0.625rem rgb(0 0 0 / 0.2); /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}
.countrycard img {
  display: block;
  object-fit: cover; /* Needed to show flags correctly */
  width: 15rem; /* 240px; */
  height: 12.5rem; /* 200px; */
}

.cardtext {
  border: 0.063rem solid #000; /* 1px */
  border-top-style: none;
  border-color: transparent;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.8rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid-template-areas: "left right";
}

.flexwrap-container {
  display: flex;
  flex-wrap: wrap;
}

.left,
.right {
  flex-basis: 50%;
  text-align: left;
}

.right {
  text-align: right;
}

.searchbar {
  margin-top: 5vh;
  margin-left: 5rem;
  padding: 2rem;
  width: 25rem;
  font-size: 0.875rem; /* 14px; */
  border: 0.125rem solid #000;
  border-color: transparent;
  box-shadow: var(--box-shadow-colour);
  padding-left: 0.1rem;
}

input:active,
input:focus {
  outline: none;
  box-shadow: var(--box-shadow-colour);
}

.select-class {
  width: 15.625rem; /* 250px */
  margin-top: 5vh;
  margin-right: 5rem;
  font-size: 0.875rem; /* 14px; */
  line-height: 1.8rem;
}

select {
  /*
  border: 1px solid #ccc;
  -webkit-select-appearance: none;
  */
  border: 1px solid #ccc;

}

.blankspace {
  margin-bottom: 6rem;
}
