:root {
  --box-shadow-colour: 0 0.188rem 0.625rem rgb(0 0 0 / 0.2);
}

/* Global Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* Dark Mode Theming */
  color: var(--text-primary);
  background-color: var(--background);
  transition: all 0.5s;
  margin-bottom: 2rem;
}

.flex-container {
  margin-left: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.countrycard {
  display: flex;
  flex-direction: column;
  width: 15rem; /* 240px; */
  box-shadow: var(
    --box-shadow-colour
  ); /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  cursor: pointer;
}

.countrycard img {
  display: block;
  object-fit: scale-down; /* Needed to show flags correctly */
  width: 15rem; /* 240px; */
  height: 12.5rem; /* 200px; */
}

.cardtext {
  border: 0.063rem solid var(--colour-black); /* 1px */
  border-top-style: none;
  border-color: transparent;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.8rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid-template-areas: "left right";
}

.flexwrap-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 5rem;
}

.left,
.right {
  flex-basis: 50%;
  text-align: left;
}

.right {
  text-align: right;
}

.searchbar {
  margin-top: 5vh;
  /* margin-left: 5rem; */
  padding: 2rem;
  width: 25rem;
  font-size: 0.875rem; /* 14px; */
  border: 0.125rem solid var(--colour-black);
  border-color: transparent;
  box-shadow: var(--box-shadow-colour);
  padding-left: 0.1rem;
}

input:active,
input:focus {
  outline: none;
  box-shadow: var(--box-shadow-colour);
}

.select-class {
  width: 15.625rem; /* 250px */
  margin-top: 5vh;
  /*  margin-right: 5rem; */
  font-size: 0.875rem; /* 14px; */
  padding: 1rem;
  cursor: pointer;
}

.select-class:focus {
  outline: solid transparent 0.125rem; /* 2px; */
  outline-offset: 0.125rem; /* 2px; */
}

.blankspace {
  margin-bottom: 6rem;
}

.cview-flex-container {
  margin: 5rem;
  display: flex;
  flex-basis: 50%;
  gap: 3.75rem; /* 60px; */
}

img {
  width: 31.25rem; /* 500px; */
  height: 22.5rem; /* 360px; */
  object-fit: scale-down; /* Needed to show flags correctly */
}

.borders-flex-container {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 2rem;
}

.border-item {
  flex-basis: 20%;
}

/* Use GRID Method */

.countryname {
  margin-top: 1rem;
  grid-area: countryname;
}

.nativename {
  grid-area: nativename;
}

.population {
  grid-area: population;
}

.tld {
  grid-area: tld;
}

.currencies {
  grid-area: currencies;
}

.region {
  grid-area: region;
}

.subregion {
  grid-area: subregion;
}

.capital {
  grid-area: capital;
}

.theborder {
  grid-area: theborder;
}

.neighbours {
  grid-area: neighbours;
}

.grid-container {
  display: grid;
  margin-bottom: 2rem;

  grid-template-areas:
    "countryname    countryname     countryname     countryname     countryname     countryname"
    "nativename     nativename      nativename      tld             tld             tld"
    "population     population      population      currencies      currencies      currencies"
    "region         region          region          languages       languages       languages"
    "subregion      subregion       .               .               .               ."
    "capital        capital         .               .               .               ."
    ".              .               .               .               .               ."
    ".              .               .               .               .               ."
    ".              .               .               .               .               ."
    ".              .               .               .               .               ."
    "theborder      neighbours      neighbours      neighbours      neighbours      neighbours";
  column-gap: 0.625rem; /* 10px; */
  row-gap: 1rem;
  font-size: 1.125rem; /* 18px; */
}

.title {
  font-weight: 500;
  /* https://stackoverflow.com/questions/7300760/prevent-line-break-of-span-element */
  white-space: nowrap;
}

/* https://stackoverflow.com/questions/18179209/how-to-set-width-of-a-hr-in-css-to-x-number-of-pixels-less-than-the-widthaut */
hr {
  width: auto;
  margin: 0 5rem;
  background-color: var(--colour-grey);
}

.mb1 {
  margin-bottom: 1rem;
}

/* Solution taken from https://csslayout.io/arrow-buttons/ */

.button {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Spacing */
  padding: 0.5rem; /* 8px; */
  border-color: transparent;
  box-shadow: var(--box-shadow-colour);
  margin: 2rem 5rem;
  cursor: pointer;
}

.button-arrow {
  /* Transparent background */
  background-color: transparent;

  /* Size */
  height: 0.75rem; /* 12px; */
  width: 0.75rem; /* 12px; */
}

.button-arrow-left {
  /* Edges */
  border-bottom: 0.063rem solid rgba(0, 0, 0, 0.3); /* 1px */
  border-left: 0.063rem solid rgba(0, 0, 0, 0.3); /* 1px */
  transform: translateX(25%) rotate(45deg);
}

/* CSS 
from
https://getcssscan.com/css-buttons-examples
*/

.button-38 {
  background-color: var(--colour-white);
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249, 250, 251);
}

.button-38:focus {
  outline: 0.125rem solid transparent; /* 2px; */
  outline-offset: 0.125rem;
}

.button-38:focus-visible {
  box-shadow: none;
}

/* Mode Button */
.day-mode {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: 1rem;
}

.night-mode {
  background-color: #333333;
  color: #dddddd;
}

.day-mode,
.night-mode {
  font-size: 1rem;
  margin-top: 1rem;
  border: none;
}

/* The Theme Toggle for Dark Mode */

.toggle input[type="checkbox"] {
  display: none;
}

/* the oval look on the label */
.toggle label {
  background-color: #777;
  border: 0.125rem solid #555; /* 2px; */
  border-radius: 3.125rem; /* 50px; */
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all ease-in-out 0.3s;
  width: 6.25rem; /* 100px; */
  height: 3.125rem; /* 50px; */
}

/* the ::after selector to style the circle which will go inside this oval */

.toggle label::after {
  background-color: #555;
  border-radius: 50%;
  content: " ";
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 0.125rem; /* 2px; */
  top: 0.125rem;
  transition: all ease-in-out 0.3s;
  width: 2.625rem; /* 42px; */
  height: 2.625rem;
}

/*
The above is the styling for the unchecked state. 

For the checked state:`

Change the background and the border colors on the label and the ::after selector (the circle)
This is done by two selectors:

1) the :checked selector on the input - this will tell us whether it is checked or not
2) the ~ or the sibling selector - this will help us target the label tag which comes after our checkbox
For more details see
https://www.florin-pop.com/blog/2019/05/dark-light-theme-toggle/ 
*/

.toggle input[type="checkbox"]:checked ~ label {
  background-color: #00a0fc;
  border-color: #006dc9;
}

.toggle input[type="checkbox"]:checked ~ label::after {
  background-color: #0054b0;
  transform: translateX(3.125rem); /* 50px */
}

.toggle input[type="checkbox"]:checked ~ label.animate {
  background-color: #00a0fc;
  border-color: #006dc9;
}

.toggle input[type="checkbox"]:checked ~ label.animate.grow {
  background-color: #0054b0;
  transform: translateX(3.125rem); /* 50px */
}

.close-x {
  display: inline-block;
  font-size: 1.6rem;
  padding-left: 2.6rem;
  cursor: pointer;
}

.centre {
  text-align: center;
}
